<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        <div></div>

        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<div class="bg-popup">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        <img src="assets/images/promptmessage-lady.png" alt="promtpmessage_lady" class="promptMessageLady">
        <h2 id="ES_Title1" class="h2-ic padding-top-2rem">Transaksi tidak berjaya. Sila ke kaunter</h2>
        <h2 id="ES_Title2" class="h2-ic">cawangan ASNB untuk bantuan. Terima Kasih.</h2>

        <h1 id="ES_ResponseCode" class="padding-top-2rem">KOD RESPON : XXX</h1>
        <h2 id="ES_ErrorMessage" class="h2-ic">( Mesej Ralat )</h2>

        <button id="ES_EndTransaction" class="btn btn-cancel" style="margin-top: 2rem;">Tamatkan Transaksi</button>
    </div>
</div>