<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">

        <div class="titleNLogo">
            <img src="assets/images/TransaksiKewangan-small-blue.png" alt="FinancialMenuImage">
            <label class="outofserviceStyle" id="SectionTitle">{{ 'Financial_Transaction_Menu_Header_Title' | translate }}</label>
        </div>
        
        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<div class="content-container" *ngIf="FinancialMenu">
    <div class="fgb-container">
        <div class="overall-container">
            <div class="button-container">
                <div class="text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="SubscriptionEvent()">
                        <img src="assets/images/PelaburanTambahanAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FM_1' | translate }}</label>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="InitialInvestmentEvent()">
                        <img src="assets/images/PelaburanPermulaanAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FM_2' | translate }}</label>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="TransferSwitchEvent()">
                        <img src="assets/images/PemindahanPenukaranAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FM_3' | translate }}</label>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="RedemptionEvent()">
                        <img src="assets/images/PengeluaranAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FM_4' | translate }}</label>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer-1">
        <div class="row content-container">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="padding-left: 5rem;">
                <button type="button" class="btn btn-cancel" id="CB1_Cancel" routerLink='/transactionmenu'>
                    <!-- Tamatkan Transaksi -->
                    {{ 'BTN_Back' | translate }}
                </button>
            </div>
        
        </div>
    </footer>
</div>

<div class="content-container" *ngIf="InitialInvestment">
    <div class="fgb-container">
        <div class="overall-container">
            <div class="button-container">
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="InitialInvestmentMajor()">
                        <img src="assets/images/PelaburanPermulaanAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMI_1' | translate }}</label>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="InitialInvestmentMinor()">
                        <img src="assets/images/PelaburanPermulaanAkaunBijak-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMI_2' | translate }}</label>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer-1">
        <div class="row content-container">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="padding-left: 5rem;">
                <button type="button" class="btn btn-cancel" id="CB1_Cancel" (click)="FinancialMenuEvent()">
                    <!-- Tamatkan Transaksi -->
                    {{ 'BTN_Back' | translate }}
                </button>
            </div>
        
        </div>
    </footer>
</div>

<div class="content-container" *ngIf="Subscription">
    <div class="fgb-container">
        <div class="overall-container">
            <div class="button-container">
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="SubscriptionMajor()">
                        <img src="assets/images/PelaburanTambahanAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMS_1' | translate }}</label>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="SubscriptionMinor()">
                        <img src="assets/images/PelaburanTambahanAkaunBijak-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMS_2' | translate }}</label>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="SubscriptionThird()">
                        <img src="assets/images/PelaburanTambahanKeAkaunPihakKetiga-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMS_3' | translate }}</label>
                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer-1">
        <div class="row content-container">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="padding-left: 5rem;">
                <button type="button" class="btn btn-cancel" id="CB1_Cancel" (click)="FinancialMenuEvent()">
                    <!-- Tamatkan Transaksi -->
                    {{ 'BTN_Back' | translate }}
                </button>
            </div>
        
        </div>
    </footer>
</div>

<div class="content-container" *ngIf="TransferSwitch">
    <div class="fgb-container">
        <div class="overall-container">
            <div class="button-container">
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="InitialInvestmentEvent()">
                        <img src="assets/images/PemindahanPenukaranAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMTS_1' | translate }}</label>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="SubscriptionEvent()">
                        <img src="assets/images/PemindahanPenukaranAkaunBijak-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMTS_2' | translate }}</label>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer-1">
        <div class="row content-container">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="padding-left: 5rem;">
                <button type="button" class="btn btn-cancel" id="CB1_Cancel" (click)="FinancialMenuEvent()">
                    <!-- Tamatkan Transaksi -->
                    {{ 'BTN_Back' | translate }}
                </button>
            </div>
        
        </div>
    </footer>
</div>

<div class="content-container" *ngIf="Redemption">
    <div class="fgb-container">
        <div class="overall-container">
            <div class="button-container">
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="InitialInvestmentEvent()">
                        <img src="assets/images/PengeluaranAkaunSendiri-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMR_1' | translate }}</label>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-menu-transaction" (click)="SubscriptionEvent()">
                        <img src="assets/images/PengeluaranAkaunBijak-colour.png">
                    </button>
                    <label class="menu__label">{{ 'FMR_2' | translate }}</label>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer-1">
        <div class="row content-container">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="padding-left: 5rem;">
                <button type="button" class="btn btn-cancel" id="CB1_Cancel" (click)="FinancialMenuEvent()">
                    <!-- Tamatkan Transaksi -->
                    {{ 'BTN_Back' | translate }}
                </button>
            </div>
        
        </div>
    </footer>
</div>