

<nav class="navbar navbar-expand-lg navbar-light-custom bg-white" >
    <div class="container-fluid">
        <div class="titleNLogo">
            <!-- Language Screen NavBar -->
            <img src="assets/images/Language-small-blue.png" alt="LanguageOptionImage">
            <label class="outofserviceStyle" id="SectionTitle">PILIHAN BAHASA</label>
        </div>

        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<!-- <p>{{'TNC_5' | translate }}<a href="#" (click)="ClickProspectus()">{{'TNC_6' | translate }}</a></p>

<mv-media-viewer [url]="'assets/SSDM_split_4.pdf'"
                 [downloadFileName]="'example.pdf'"
                 [showToolbar]="false"
                 [contentType]="'pdf'"
                 [height]="'530px'">
</mv-media-viewer>   -->


<!--<div class="bg-popup"  [hidden]="ASNBProspectus">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">

        

        <footer class="site-footer" style="padding-top:0.5rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="NextProspectus()">
                  
                        {{'BTN_Next' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div>  -->


<!-- Language Screen -->
<div class="row content-container" id="LanguageScreen" >
    <div class="col-sm-3 text-center" style="padding-top:20rem"></div>

    <div class="col-sm-3 text-center" style="padding-top:15rem; padding-left: 5rem;">
        <button type="button" class="btn btn-lang" id="BahasaMelayuButton" (click)="selectMalay()" routerLinkActive='active' [disabled]="loadingDisable">BM</button>
        <label class="lang__label" id="LS_BahasaMelayu">Bahasa Melayu</label>
    </div>

    <div class="col-sm-3 text-center" style="padding-top:15rem; padding-right: 5rem;">
        <button type="button" class="btn btn-lang" id="EnglishButton" (click)="selectEnglish()" [disabled]="loadingDisable">EN</button>
        <label class="lang__label" id="LS_English">English</label>
    </div>

    <div class="col-sm-3 text-center" style="padding-top:20rem"></div>
</div>