
<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        
        <div class="titleNLogo">
            <!-- Transaction Menu -->
            <img src="assets/images/Feedback-small-blue.png" alt="FeedbackImage">
            <label class="outofserviceStyle" id="SectionTitle">{{'Feedback_Header_Title' | translate }}</label>
        </div>
        
        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<!-- Feedback Screen -->
<div  class="row" id="FeedbackScreen1" *ngIf="FBS1_Visible">
    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:7rem">
            <!-- <h2 id="FS_Title1">Pastikan MyKad telah dikeluarkan sebelum anda beredar</h2> -->
            <h2 id="FS_Title1">{{'FBS1_1' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:7rem">
            <!-- <h2 class="h2-ic" id="FS_Title2">Terima kasih kerana menggunakan perkhidmatan kami.</h2>
            <h2 class="h2-ic" id="FS_Title3">Sila beri maklum balas untuk penambahbaikan perkhidmatan pada masa hadapan</h2> -->
            <h2 class="h2-ic" id="FS_Title2">{{'FBS1_2' | translate }}</h2>
            <h2 class="h2-ic" id="FS_Title3">{{'FBS1_3' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:7rem">
            <table class="center">
                <tr>
                    <td>
                        <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" />
                        <label for="checkboxG1" class="css-label"></label>
                    </td>
                    <td>
                        <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" checked="checked"/>
                        <label for="checkboxG2" class="css-label"></label>
                    </td>
                    <td>
                        <input type="checkbox" name="checkboxG3" id="checkboxG3" class="css-checkbox" />
                        <label for="checkboxG3" class="css-label"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:2rem">
            <button type="button" class="btn btn-checkIC" id="FS_SendButton">
                <!-- Hantar -->
                {{'BTN_Submit' | translate }}
            </button>
        </div>
    </div>
</div>

<div id="FeedbackScreen2" *ngIf="FBS2_Visible">
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top:17rem ">
            <!-- <h2>Terima Kasih</h2> -->
            <h2>{{'FBS2_1' | translate }}</h2>
            <br>
            <!-- <h2 class="h2-ic" id="FB_Title1">Sila keluarkan</h2>
            <h2 class="h2-ic" id="FB_Title2">MyKad / MyKid</h2> -->
            <h2 class="h2-ic" id="FB_Title1">{{'FBS2_2' | translate }}</h2>
            <h2 class="h2-ic" id="FB_Title2">MyKad / MyKid</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnb-keluarkan-mykadmykid.png" class="ICReader__centered img-addon padding-top-10rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>