
<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        
        <div class="titleNLogo">
            <!-- Transaction Menu -->
            <img src="assets/images/Feedback-small-blue.png" alt="FeedbackImage">
            <label class="outofserviceStyle" id="SectionTitle">{{'Feedback_Header_Title' | translate }}</label>
        </div>
        
        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<!-- Feedback Screen -->
<div  class="row content-container grid" id="FeedbackScreen1" *ngIf="FBS1_Visible">
    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:13rem">
            <!-- <h2 id="FS_Title1">Pastikan MyKad telah dikeluarkan sebelum anda beredar</h2> -->
            <h2 id="FS_Title1">{{'FBS1_1' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:7rem">
            <!-- <h2 class="h2-ic" id="FS_Title2">Terima kasih kerana menggunakan perkhidmatan kami.</h2>
            <h2 class="h2-ic" id="FS_Title3">Sila beri maklum balas untuk penambahbaikan perkhidmatan pada masa hadapan</h2> -->
            <h2 class="h2-ic" id="FS_Title2">{{'FBS1_2' | translate }}</h2>
            <h2 class="h2-ic" id="FS_Title3">{{'FBS1_3' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-top:9rem">
            <div class="rating">
                <input type="radio" name="star" #starone id="star1" checked="true">
                <label for="star1"></label>
                <input type="radio" name="star" #startwo id="star2">
                <label for="star2"></label>
                <input type="radio" name="star" #starthree id="star3">
                <label for="star3"></label>
                <input type="radio" name="star" #starfour id="star4">
                <label for="star4"></label>
                <input type="radio" name="star" #starfive id="star5">
                <label for="star5"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:2rem">
            <button type="button" class="btn btn-next" id="FS_SendButton" (click)="SubmitFeedback()">
                <!-- Hantar -->
                {{'BTN_Submit' | translate }}
            </button>
        </div>
    </div>
</div>

<div id="FeedbackScreen2" *ngIf="FBS2_Visible">
    <div class="row content-container">
        <div class="col-md-6 text-center" style="padding-top:17rem ">
            <!-- <h2>Terima Kasih</h2> -->
            <h2>{{'FBS2_1' | translate }}</h2>
            <br>
            <!-- <h2 class="h2-ic" id="FB_Title1">Sila keluarkan</h2>
            <h2 class="h2-ic" id="FB_Title2">MyKad / MyKid</h2> -->
            <h2 class="h2-ic" id="FB_Title1">{{'FBS2_2' | translate }}</h2>
            <h2 class="h2-ic" id="FB_Title2">MyKad / MyKid</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnb-keluarkan-mykadmykid.png" class="ICReader__centered img-addon padding-top-10rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>