

<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        <div class="titleNLogo">
            <!-- Language Screen NavBar -->
            <img src="assets/images/PemindahanPenukaranAkaunSendiri-small-colour.png" alt="HeaderImage" class="icon_margin" *ngIf="isTransferSwitchingMajor">
            <img src="assets/images/PemindahanPenukaranAkaunBijak-small-colour.png" alt="HeaderImage" class="icon_margin" *ngIf="isTransferSwitchingMinor">
            <div>
                <label class="upStyle col-sm-12" *ngIf="transferswitching1">{{ 'TransferSwitching' | translate }}</label>
                <label class="upStyle col-sm-12" *ngIf="istransfer">{{ 'Transfer1' | translate }}</label>
                <label class="upStyle col-sm-12" *ngIf="isswitching">{{ 'Switching1' | translate }}</label>
                <label class="downStyle col-sm-12" *ngIf="isOwn">{{ 'Own' | translate }}</label>
                <label class="downStyle col-sm-12" *ngIf="isBijak">{{ 'Bijak' | translate }}</label>
            </div>
        </div>

        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<div *ngIf="BijakVisible" class="content-container">
   
    <div>
        <div class="col-md-12 text-center" style="padding-top:2rem; font-family: HelveticaNeue;">
            <h2 id="CB1_Title3">{{'CB1_1' | translate }}</h2>
        </div>

        <div class="col-md-12 text-center" style="padding-top:0.15rem;" *ngFor="let minor of mDetails">
            <button type="button" class="btn btn-account" id="Account2" (click)="Minor(minor)">
                {{ minor.UHID }}<br>{{ minor.NAME }}
            </button>
        </div>
    </div>

    

  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem; padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="Back()">
                    {{'BTN_Back' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>


<div *ngIf="transferswitching" class="content-container">

    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'SelectUnitTrust' | translate}}
        </h2>
    </div>

    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center">
            <h4 class="blue-title-bar h2-ic" style="margin-left: 4.1rem;">{{'ARSuccess_5' | translate }}: {{unitholderid}}   |   {{unitholdername}}</h4>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center blue-title-bar-border" style="margin-left: 4.8rem;">
            <div class="row ">
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'FundName' | translate }}</h5>
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'CurrentValue' | translate }}</h5>
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'TypeOfInvestment' | translate }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <!-- NgFor how many funds -->
    <div class="row text-center" style="padding-top:1rem" *ngFor="let fund of newFundDetails">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center blue-bar-border" style="margin-left: 4.8rem;">
            <div class="row">
                <div class="col-sm-4 displayflex">
                    <img src="assets/fundicon/{{fund.FUNDID}}.png" class="switchingtransferfundicon" style="padding-top: 0.4rem;">
                    <h5 class="h2-ic" style="margin-top: auto; margin-bottom: auto">{{ fund.FUNDNAME }}</h5> <!-- Fund.fundid -->
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 2rem;">{{ fund.UNITBALANCE | number : '1.2-2'  }}</h5> <!-- Fund.fundvalue -->
                </div>
                <div class="col-sm-4" style="padding-top: 1.4rem;">
                    <button type="button" class="btn btn-transferswitching" (click)="Transfer(fund)">
                        {{'Transfer' | translate }}
                    </button>
                    <button type="button" class="btn btn-transferswitching" (click)="Switching(fund)">
                        {{'Switching' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>


  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem; padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="transferswitchingBack()">
                    {{'BTN_Back' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div class="bg-popup"  *ngIf="TermsAndConditions">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">

        <ngx-extended-pdf-viewer 
            [src]="pdfsrc1" 
            backgroundColor="#ffffff" 
            [delayFirstView]="1000" 
            [height]="'530px'"
            [useBrowserLocale]="true"
            [showPrintButton]="false"
            [showBookmarkButton]="false"
            [showDownloadButton]="false"
            [showFindButton]="false"
            [showHandToolButton]="false"
            [showOpenFileButton]="false"
            [showPresentationModeButton]="false"
            [showRotateButton]="false"
            [showPropertiesButton]="false"
            [zoom]="'100%'">
        </ngx-extended-pdf-viewer>

        <footer class="site-footer" style="padding-top:1rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="NextTNC()">
                        {{'BTN_Next' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup"  *ngIf="InvestmentDisclaimer">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">

        <ngx-extended-pdf-viewer 
            [src]="pdfsrc2" 
            backgroundColor="#ffffff" 
            [delayFirstView]="1000" 
            [height]="'530px'"
            [useBrowserLocale]="true"
            [showPrintButton]="false"
            [showBookmarkButton]="false"
            [showDownloadButton]="false"
            [showFindButton]="false"
            [showHandToolButton]="false"
            [showOpenFileButton]="false"
            [showPresentationModeButton]="false"
            [showRotateButton]="false"
            [showPropertiesButton]="false"
            [zoom]="'100%'">
        </ngx-extended-pdf-viewer>

        <footer class="site-footer" style="padding-top:1rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="NextID()">
                        {{'BTN_Next' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup"  *ngIf="MinimumCriteria">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">

        <ngx-extended-pdf-viewer 
            [src]="pdfsrc3" 
            backgroundColor="#ffffff" 
            [delayFirstView]="1000" 
            [height]="'530px'"
            [useBrowserLocale]="true"
            [showPrintButton]="false"
            [showBookmarkButton]="false"
            [showDownloadButton]="false"
            [showFindButton]="false"
            [showHandToolButton]="false"
            [showOpenFileButton]="false"
            [showPresentationModeButton]="false"
            [showRotateButton]="false"
            [showPropertiesButton]="false"
            [zoom]="'100%'">
        </ngx-extended-pdf-viewer>

        <footer class="site-footer" style="padding-top:1rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="NextMC()">
                        {{'BTN_Next' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div *ngIf="transfer1" class="content-container">
   
    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center">
            <h4 class="blue-title-bar h2-ic" style="margin-left: 4.1rem;">{{'ARSuccess_5' | translate }}: {{unitholderid}}   |   {{unitholdername}}</h4>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center blue-title-bar-border" style="margin-left: 4.8rem;">
            <div class="row ">
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'FundName' | translate }}</h5>
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'CurrentValue' | translate }}</h5>
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'TypeOfInvestment' | translate }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center blue-bar-border" style="margin-left: 4.8rem;">
            <div class="row ">
                <div class="col-sm-4 displayflex">
                    <img src="assets/fundicon/{{actualfundid}}.png" class="switchingtransferfundicon" style="padding-top: 0.4rem;">
                    <h5 class="h2-ic" style="margin-top: auto; margin-bottom: auto;">{{ actualfundname }}</h5> <!-- Fund.fundid -->
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 2rem;">{{ actualfundvalue | number : '1.2-2'  }}</h5> <!-- Fund.fundvalue -->
                </div>
                <div class="col-sm-4" style="padding-top: 1rem;">
                    <h5 class="h2-ic" style="padding-top: 1rem;">{{ 'Transfer' | translate }}</h5> <!-- Fund.fundvalue -->
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <div class="col-md-12 text-center" style="padding-top:1rem;">
        <h4>+ {{'TransferTo' | translate }}</h4>
    </div>

    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="touhid" id="touhid" class="use-keyboard-input" [formControl]='Form_1.controls["uhid"]' #tuhid>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="uhidWarning">{{'ThirdUHIDWarning' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'UHName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="touhname" id="touhname" class="use-keyboard-input" [formControl]='Form_1.controls["uhname"]' #tuhname>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="uhnameWarning">{{'ThirdNameWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ICType' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_1.controls["ictype"]' #thirdictype>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let type of ictype" value={{type.code}}>
                        {{type.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="uhictypeWarning">{{'ThirdICTypeWarning' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferTo' | translate}} - {{'UHICNo' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="touhic" id="touhic" class="use-keyboard-input" [formControl]='Form_1.controls["uhic"]' #tuhic>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="uhicWarning">{{'ThirdICWarning' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ReasonForTransfer' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_1.controls["reason"]' #treason>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let rea of reason" value={{rea.code}}>
                        {{rea.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="transferreasonWarning">{{'SourceOfFundWarning' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FLB_9' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_1.controls["relationship"]' #trelationship>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let re of relationship" value={{re.code}}>
                        {{re.desc}}
                    </option>
                </select> 
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="transferrelationshipWarning">{{'ThirdRelationshipWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;" *ngIf="isHistorical">
                    {{'AmountInclusiveSST2' | translate}}
                </h4>
                <h4 style="font-size: 1.25rem;" *ngIf="!isHistorical">
                    {{'AmountInclusiveSST4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="amount" id="amount" class="use-keyboard-input" [formControl]='Form_1.controls["amount"]' #tamount>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="transferamountWarning">{{'AWarning' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="amountWarning1">{{'A1Warning' | translate}}</div>
            </div>
        </div>
    </div>

    <div style="display:grid; place-items: center; padding-top: 2rem;">
        <div style="width: 1200px">
            <p>1. {{'TransferCopywriting1' | translate}}</p>
            <p>2. {{'TransferCopywriting2' | translate}}</p>
            <p>3. {{'TransferCopywriting3' | translate}}</p>
            <p>4. {{'TransferCopywriting4' | translate}}</p>
        </div>
    </div>

    <div class="row text-center" style="padding-top: 1rem;">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <input type="checkbox" class="agreeCheck" name="tncCheck" value="false" (click)="agreeTNC($event)">
            <label for="tncCheck" style="padding-left:1rem; font-size: 0.75rem;">
                {{'SIStep2_5' | translate }}
                <a class="hyperlinksent" (click)="ClickTNC()"> {{'PRTNC_1' | translate }}</a>, 
                <a class="hyperlinksent" (click)="ClickInvesmtentDisclaimer()"> {{'InvestmentDisclaimer' | translate }}</a>,
                <a class="hyperlinksent" (click)="ClickMinimumCriteria()"> {{'MinimumCriteria' | translate }}</a>
                {{'SIStep2_6' | translate }}
            </label><br>
        </div>
        <div class="col-md-1">
            
        </div>
    </div>


  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top: 3rem; padding-bottom: 3rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="transfer1Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="transfer1Next()" [disabled]="disagreedTNC" [hidden]="ispopup">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="transfer2" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'Transfer' | translate}}
        </h2>
    </div>
    <div class="text-center">
        <h2 class="h2-ic">
            + {{'TransferConfirmationPage' | translate}}
        </h2>
    </div>

    

    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferuhid }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'UHName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferuhname }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'UHICNo' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferuhic }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ReasonForTransfer' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ displayReason }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FLB_9' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ displayRelationship }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;" *ngIf="isHistorical">
                    {{'AmountInclusiveSST2' | translate}}
                </h4>
                <h4 style="font-size: 1.25rem;" *ngIf="!isHistorical">
                    {{'AmountInclusiveSST4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferamount | number : '1.2-2' }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferFrom' | translate}} - {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferfrom }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferFrom' | translate}} - {{'UHName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferfromName }}
                </h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferfunname }}
                </h4>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="row text-center" style="padding-top: 3rem; padding-bottom: 3rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="transfer2Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="transfer2Next()">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="transfer3" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'Transfer' | translate}}
        </h2>
    </div>
    <div class="text-center">
        <h2 class="h2-ic">
            + {{'AcknowledgementStatus' | translate}}
        </h2>
    </div>

    

    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferTo' | translate}} - {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferuhid }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferTo' | translate}} - {{'UHName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferuhname }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferTo' | translate}} - {{'UHICNo' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferuhic }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ReasonForTransfer' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferreason }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FLB_9' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferrelationship }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;" *ngIf="isHistorical">
                    {{'AmountInclusiveSST2' | translate}}
                </h4>
                <h4 style="font-size: 1.25rem;" *ngIf="!isHistorical">
                    {{'AmountInclusiveSST4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferamount | number : '1.2-2' }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferFrom' | translate}} - {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferfrom }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'TransferFrom' | translate}} - {{'UHName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferfromName }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferfunname }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'NAV' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferNAV | number : '1.2-2' }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'Units' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferunits | number : '1.2-2' }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'SST' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferSST | number : '1.2-2' }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'InitialServiceChargeRM' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferinitialRM | number : '1.2-2' }}
                </h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'InitialServiceChargePercentage' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ transferinitialPercentage }}
                </h4>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="row text-center" style="padding-top:2rem;">
            <div class="cont1" style="margin-left: auto; margin-right: auto;">
                <div class="row" *ngIf="Print_Visible && Email_Visible">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="transferPrint()">
                            {{'BTN_Print' | translate }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="transferEmail()">
                            {{'BTN_Email' | translate }}
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="Print_Visible && !Email_Visible">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="transferPrint()">
                            {{'BTN_Print' | translate }}
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="!Print_Visible && Email_Visible">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="transferEmail()">
                            {{'BTN_Email' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    

</div>

<div *ngIf="switching1" class="content-container">
   
    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center">
            <h4 class="blue-title-bar h2-ic" style="margin-left: 4.1rem;">{{'ARSuccess_5' | translate }}: {{unitholderid}}   |   {{unitholdername}}</h4>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center blue-title-bar-border" style="margin-left: 4.8rem;">
            <div class="row ">
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'FundName' | translate }}</h5>
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'CurrentValue' | translate }}</h5>
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 0.2rem;">{{ 'TypeOfInvestment' | translate }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <div class="row text-center" style="padding-top:1rem">
        <div class="col-md-1" >

        </div>
        <div class="col-md-10 text-center blue-bar-border" style="margin-left: 4.8rem;">
            <div class="row ">
                <div class="col-sm-4 displayflex">
                    <img src="assets/fundicon/{{actualfundid}}.png" class="switchingtransferfundicon" style="padding-top: 0.4rem;">
                    <h5 class="h2-ic" style="margin-top: auto; margin-bottom: auto;">{{ actualfundname }}</h5> <!-- Fund.fundid -->
                </div>
                <div class="col-sm-4">
                    <h5 class="h2-ic" style="padding-top: 2rem;">{{ actualfundvalue | number : '1.2-2' }}</h5> <!-- Fund.fundvalue -->
                </div>
                <div class="col-sm-4" style="padding-top: 1rem;">
                    <h5 class="h2-ic" style="padding-top: 1rem;">{{ 'Switching' | translate }}</h5> <!-- Fund.fundvalue -->
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <div class="col-md-12 text-center" style="padding-top:1rem;">
        <h4>+ {{'SwitchTo' | translate }}</h4>
    </div>

    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'SwitchTo' | translate}} - {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_2.controls["fundname"]' #sfundid>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let fa of fundAvailable" value={{fa.code}}>
                        {{fa.value}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="switchingFundWarning">{{'ThirdFundWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;" *ngIf="isHistorical">
                    {{'AmountInclusiveSST2' | translate}}
                </h4>
                <h4 style="font-size: 1.25rem;" *ngIf="!isHistorical">
                    {{'AmountInclusiveSST4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="switchamount" id="switchamount" class="use-keyboard-input" [formControl]='Form_2.controls["amount"]' #samount>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="switchingamountWarning">{{'AWarning' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="amountWarning2">{{'A1Warning' | translate}}</div>
            </div>
        </div>
    </div>

    <div style="display:grid; place-items: center; padding-top: 2rem;">
        <div style="width: 1200px">
            <p>1. {{'SwitchingCopywriting1' | translate}}</p>
            <p>2. {{'SwitchingCopywriting2' | translate}}</p>
            <p>3. {{'SwitchingCopywriting3' | translate}}</p>
            <p>4. {{'SwitchingCopywriting4' | translate}}</p>
        </div>
    </div>

    <div class="row text-center" style="padding-top: 1rem;">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <input type="checkbox" class="agreeCheck" name="tncCheck" value="false" (click)="agreeTNC($event)">
            <label for="tncCheck" style="padding-left:1rem; font-size: 0.75rem;">
                {{'SIStep2_5' | translate }}
                <a class="hyperlinksent" (click)="ClickTNC()"> {{'PRTNC_1' | translate }}</a>, 
                <a class="hyperlinksent" (click)="ClickInvesmtentDisclaimer()"> {{'InvestmentDisclaimer' | translate }}</a>,
                <a class="hyperlinksent" (click)="ClickMinimumCriteria()"> {{'MinimumCriteria' | translate }}</a>
                {{'SIStep2_6' | translate }}
            </label><br>
        </div>
        <div class="col-md-1">
            
        </div>
    </div>


  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top: 3rem; padding-bottom: 3rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="switching1Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="switching1Next()" [disabled]="disagreedTNC" [hidden]="ispopup">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="switching2" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'Switching' | translate}}
        </h2>
    </div>
    <div class="text-center">
        <h2 class="h2-ic">
            + {{'SwitchingConfirmationPage' | translate}}
        </h2>
    </div>

    

    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingFromName }}
                </h4>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchinguhid }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'SwitchFrom' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingfrom }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'SwitchTo' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingto }}
                </h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;" *ngIf="isHistorical">
                    {{'AmountInclusiveSST2' | translate}}
                </h4>
                <h4 style="font-size: 1.25rem;" *ngIf="!isHistorical">
                    {{'AmountInclusiveSST4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingamount | number : '1.2-2'  }}
                </h4>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="row text-center" style="padding-top: 3rem; padding-bottom: 3rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="switching2Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="switching2Next()">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="switching3" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'Switching' | translate}}
        </h2>
    </div>
    <div class="text-center">
        <h2 class="h2-ic">
            + {{'AcknowledgementStatus' | translate}}
        </h2>
    </div>

    

    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingFromName }}
                </h4>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ARSuccess_5' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchinguhid }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'SwitchFrom' | translate}} - {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingfrom }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'SwitchTo' | translate}} - {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingto }}
                </h4>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;" *ngIf="isHistorical">
                    {{'AmountInclusiveSST2' | translate}}
                </h4>
                <h4 style="font-size: 1.25rem;" *ngIf="!isHistorical">
                    {{'AmountInclusiveSST4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingamount | number : '1.2-2'  }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'NAV' | translate}} ({{'FromFund' | translate}})
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingNAVFrom | number : '1.2-2'  }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'NAV' | translate}} ({{'ToFund' | translate}})
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingNAVTo | number : '1.2-2'  }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'Units' | translate}} ({{'FromFund' | translate}})
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingUnitsFrom | number : '1.2-2'  }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'Units' | translate}} ({{'ToFund' | translate}})
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingUnitsTo | number : '1.2-2'  }}
                </h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'SST' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    : {{ switchingSST | number : '1.2-2'  }}
                </h4>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="row text-center" style="padding-top:2rem;">
            <div class="cont1" style="margin-left: auto; margin-right: auto;">
                <div class="row" *ngIf="Print_Visible && Email_Visible">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="switchingPrint()">
                            {{'BTN_Print' | translate }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="switchingEmail()">
                            {{'BTN_Email' | translate }}
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="Print_Visible && !Email_Visible">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="switchingPrint()">
                            {{'BTN_Print' | translate }}
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="!Print_Visible && Email_Visible">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="switchingEmail()">
                            {{'BTN_Email' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    

</div>

<div *ngIf="Print1_Visible" class="content-container">
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top:20rem;">
            <h2 class="h2-ic" id="ARP1_Title1">{{'Print1_1' | translate }}</h2>
            <h2 class="h2-ic" id="ARP1_Title2">{{'Print1_2' | translate }}</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnbstandee-receipt-a.png" class="ICReader__centered img-addon-1 padding-top-2rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>

<div *ngIf="Print2_Visible" class="content-container">
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top:20rem ">
            <h2 class="h2-ic" id="ARP2_Title1">{{'Print2_1' | translate }}</h2>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnbstandee-receipt-b.png" class="ICReader__centered img-addon-1 padding-top-2rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>

<div *ngIf="EmailPage_Visible" class="content-container">
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top:20rem ">
            <h2 class="h2-ic" id="ARE_Title1">{{'Email_1' | translate }}</h2>
            <h2 class="h2-ic" id="ARE_Title2">{{'Email_2' | translate }}</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnb-mobile-emel.png" class="ICReader__centered img-addon padding-top-10rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>


<div class="content-container" *ngIf="transaction_Successful">
    <div class="row text-center">
        <div class="col-md-12 padding-top-2rem">
            <img src="assets/images/ASNB-tick.png" class="ticklogo " alt="ASNB">
        </div>
    </div>
    
    <div class="row text-center padding-top-5rem" >
        <h2 class="h2-ic" id="ST_Title1">{{'TS_1' | translate }}</h2>
    </div>
    
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem;">
            <div class="cont1" style="margin-left: auto; margin-right: auto;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-cancel" id="ST_EndTransaction" (click)="endTransaction()">
                            {{'BTN_End' | translate }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="ST_MainMenu" (click)="mainMenu()">
                            {{'BTN_MainMenu' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>



