<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        <div class="titleNLogo">
            <!-- Transaction Menu -->
            <img src="assets/images/SemakBaki-small-blue.png" alt="CheckBalance">
            <label class="outofserviceStyle" id="SectionTitle">{{'Check_Balance_Header_Title' | translate }}</label>
        </div>
        
        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<!-- Check Balance -->
<div id="CheckBalance1" *ngIf="CB1_Visible" class="content-container">
   
    <div class="col-md-12 text-center" style="padding-top:4rem; font-family: HelveticaNeue;">
        <!-- <h2 id="CB1_Title1">Sila pilah Akaun untuk semakan baki</h2> -->
        <h2 id="CB1_Title1">{{'CB1_1' | translate }}</h2>
    </div>

    <div class="col-md-12 text-center" style="padding-top:2rem; font-family: HelveticaNeue;">
        <!-- <h2 id="CB1_Title2">Akaun Sendiri</h2> -->
        <h2 id="CB1_Title2">{{'CB1_2' | translate }}</h2>
    </div>

    <div class="col-md-12 text-center" style="padding-top:0.15rem;">
        <button type="button" class="btn btn-account" id="Account1" (click)="CheckMainAccount()">
            {{noAhli}}<br>{{namaAhli}}
        </button>
    </div>


    <div>
        <div class="col-md-12 text-center" style="padding-top:2rem; font-family: HelveticaNeue;" *ngIf="CBBijak_Visible">
            <h2 id="CB1_Title3">{{'CB1_3' | translate }}</h2>
        </div>

        <div class="col-md-12 text-center" style="padding-top:0.15rem;" *ngFor="let minor of mDetails">
            <button type="button" class="btn btn-account" id="Account2" (click)="MinorCheckBalance(minor)">
                {{ minor.UHID }}<br>{{ minor.NAME }}
            </button>
        </div>
    </div>

    

  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem; padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-cancel-white" id="CB1_MainMenu" (click)="MainMenu()">
                    {{'BTN_MainMenu' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div class="bg-popup" id="SB_Error" *ngIf="CB2_ErrorVisible">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        

        <h1 id="SB_ResponseCode" class="padding-top-2rem">{{'CBError_1' | translate }}</h1>

        <h2 id="SB_ErrorMessage" class="h2-ic" style="padding-top:10rem;">
            {{'CBError_2' | translate }}<br>
            {{'CBError_3' | translate }}
        </h2>


        <footer class="site-footer" style="padding-top:12rem;">
            <div class="row text-center" >
                <div class="cont1" style="margin-left: auto; margin-right: auto;">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-cancel-white" id="SB_Cancel" (click)="CancelCheckBalance()">
                                {{'BTN_End' | translate }}
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-next" id="SB_ChangeAccount" (click)="ChooseOtherAccount()">
                                {{'BTN_ChooseOtherAccount' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
</div> 

<div id="CheckBalance2" *ngIf="CB2_Visible" class="content-container">
   
    <div class="col-md-12 text-center" style="padding-top:4rem; font-family: HelveticaNeue;">
        <!-- <h2 id="CB2_Title1">Baki Akaun</h2> -->
        <h2 id="CB2_Title1">{{'CB2_1' | translate }}</h2>
    </div>

    

    <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-5 pop-up-cb shadow p-3 mb-5 bg-white rounded-1rem">
            <!-- First Row -->
            <div class="row">
                <div class="column leftcol">
                    <!-- <label class="CheckBalanceText1" id="CB2_Name">Nama</label> -->
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_Name">{{'CB2_2' | translate }}</label>
                </div>
                <div class="column rightcol">
                    <!-- <label class="CheckBalanceText1" id="CB2_NameValue">SAMI NURUL SOFIAH BINTI YUNUS</label>   -->
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_NameValue">{{CB2_3}}</label>  
                </div>
            </div>
            
            <!-- Second Row -->
            <div class="row">
                <div class="column leftcol">
                    <!-- <label  class="CheckBalanceText1" id="CB2_IC">No. Kad Pengenalan</label> -->
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_IC">{{'CB2_4' | translate }}</label>
                </div>
                
                <div class="column rightcol">
                    <!-- <label  class="CheckBalanceText1" id="CB2_ICValue">880419-01-7887</label>   -->
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_ICValue">{{CB2_5}}</label>  
                </div>
            </div>
            
            <!-- Third Row -->
            <div class="row">
                <div class="column leftcol">
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_MemberID">{{'CB2_6' | translate }}</label>
                </div>
                <div class="column rightcol">
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_MemberIDValue">{{CB2_7}}</label>  
                </div>
            </div>
            

        </div>
        <div class="col-md-5 pop-up-cb shadow p-3 mb-5 bg-white rounded-1rem" align="center">
            <!-- First Row -->
            <div class="row">
                <!-- <label class="CheckBalanceText1" id="CB2_TotalTitle">Baki Keseluruhan</label> -->
                <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_TotalTitle">{{'CB2_8' | translate }}</label>
            </div>
            
            <!-- Second Row -->
            <div class="row">
                <div class="column leftcol">
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_Name">RM</label>
                </div>
                <div class="column rightcol">
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_NameValue">{{CB2_9  | number : '1.2-2' }}</label>  
                </div>
            </div>
            
            <!-- Third Row -->
            <div class="row">
                <div class="column leftcol">
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_Name">UNIT</label>
                </div>
                <div class="column rightcol">
                    <label style="font-size: 1.25rem" class="CheckBalanceText1" id="CB2_NameValue">{{CB2_10  | number : '1.2-2' }}</label>  
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 text-center" style="padding-top:2rem; font-family: HelveticaNeue;">
        <table class="table checkbalancetable" id="CB2_BalanceTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">{{'CBTH_1' | translate }}</th>
                    <th scope="col">{{'CBTH_2' | translate }}</th>
                    <th scope="col">{{'CBTH_3' | translate }}</th>
                    <th scope="col">{{'CBTH_4' | translate }}</th>
                    <th scope="col">{{'CBTH_5' | translate }}</th>
                    <th scope="col">{{'CBTH_6' | translate }}</th>
                    <th scope="col">{{'CBTH_7' | translate }}</th>
                    <th scope="col">{{'CBTH_8' | translate }}</th>
                    <th scope="col" *ngIf="Print_Visible">{{'CBTH_9' | translate }}</th>
                    <th scope="col" *ngIf="Email_Visible">{{'CBTH_10' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let y of fDetails">
                    <td>
                        <img src="assets/fundicon/{{y.FUNDID}}.png" class="fundidicon">
                    </td>
                    <td style="padding-top: 3rem;">{{ y.UNITBALANCE | number : '1.2-2' }}</td>
                    <td style="padding-top: 3rem;">{{ y.EPFUNITS | number : '1.2-2' }}</td>
                    <td style="padding-top: 3rem;">{{ y.LOANUNITS | number : '1.2-2' }}</td>
                    <td style="padding-top: 3rem;">{{ y.CERTUNITS | number : '1.2-2' }}</td>
                    <td style="padding-top: 3rem;">{{ y.BLOCKEDUNITS | number : '1.2-2' }}</td>
                    <td style="padding-top: 3rem;">{{ y.TOTALUNITS | number : '1.2-2' }}</td>
                    <td style="padding-top: 3rem;">{{ y.UHHOLDINGS | number : '1.2-2' }}</td>
                
                    <td *ngIf="Print_Visible">
                        <button (click)="PrintStatement(y)" class="btn btn-printoremail" id="CB2_PrintButton" >
                            {{'BTN_Summ5' | translate }}
                        </button>
                        <button (click)="PrintDivStatement(y)" class="btn btn-printoremail" id="CB2_PrintButton" >
                            {{'BTN_LatestDiv' | translate }}
                        </button>
                    </td>
                    <td *ngIf="Email_Visible">
                        <button (click)="EmailStatement(y)" class="btn btn-printoremail" id="CB2_EmailButton" >
                            {{'BTN_Summ5' | translate }}
                        </button>
                        <button (click)="EmailDivStatement(y)" class="btn btn-printoremail" id="CB2_EmailButton" >
                            {{'BTN_LatestDiv' | translate }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem; padding-bottom:5rem;">
            <div class="cont" style="margin-left: auto; margin-right: auto;" *ngIf="Print_Visible && Email_Visible">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-cancel-white" id="CB2_Cancel" (click)="CancelCheckBalance()">
                            {{'BTN_Cancel' | translate }}
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-next" id="CB2_Print" (click)="PrintAllStatement(fDetails)" *ngIf="Print_Visible">
                            {{'BTN_Print1' | translate }}
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-next" id="CB2_Email" (click)="EmailAllStatement(fDetails)" *ngIf="Email_Visible">
                            {{'BTN_Email1' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="cont1" style="margin-left: auto; margin-right: auto;" *ngIf="Print_Visible && !Email_Visible">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-cancel-white" id="CB2_Cancel" (click)="CancelCheckBalance()">
                            {{'BTN_Cancel' | translate }}
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-next" id="CB2_Print" (click)="PrintAllStatement(fDetails)" *ngIf="Print_Visible">
                            {{'BTN_Print1' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="cont1" style="margin-left: auto; margin-right: auto;" *ngIf="!Print_Visible && Email_Visible">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-cancel-white" id="CB2_Cancel" (click)="CancelCheckBalance()">
                            {{'BTN_Cancel' | translate }}
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-next" id="CB2_Email" (click)="EmailAllStatement(fDetails)" *ngIf="Email_Visible">
                            {{'BTN_Email1' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<div id="CheckBalance3" *ngIf="CB3_Visible" class="content-container">
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top:20rem;">
            <h2 class="h2-ic" id="CB3_Title1">{{'Print1_1' | translate }}</h2>
            <h2 class="h2-ic" id="CB3_Title2">{{'Print1_2' | translate }}</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnbstandee-receipt-a.png" class="ICReader__centered img-addon-1 padding-top-2rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>

<div id="CheckBalance4" *ngIf="CB4_Visible" class="content-container">
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top:20rem ">
            <h2 class="h2-ic" id="CB4_Title1">{{'Print2_1' | translate }}</h2>
            
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnbstandee-receipt-b.png" class="ICReader__centered img-addon-1 padding-top-2rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>

<div id="CheckBalance5" *ngIf="CB5_Visible" class="content-container">
    <div class="row">
        <div class="col-md-6 text-center" style="padding-top:20rem ">
            <h2 class="h2-ic" id="CB5_Title1">{{'Email_1' | translate }}</h2>
            <h2 class="h2-ic" id="CB5_Title2">{{'Email_2' | translate }}</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnb-mobile-emel.png" class="ICReader__centered img-addon padding-top-10rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>


<div class="content-container" *ngIf="transaction_Successful">
    <div class="row text-center">
        <div class="col-md-12 padding-top-2rem">
            <img src="assets/images/ASNB-tick.png" class="ticklogo " alt="ASNB">
        </div>
    </div>
    
    <div class="row text-center padding-top-5rem" >
        <h2 class="h2-ic" id="ST_Title1">{{'TS_1' | translate }}</h2>
    </div>
    
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem;">
            <div class="cont1" style="margin-left: auto; margin-right: auto;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-cancel" id="ST_EndTransaction" (click)="endTransaction()">
                            {{'BTN_End' | translate }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="ST_MainMenu" (click)="mainMenu()">
                            {{'BTN_MainMenu' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>