<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        <div >
            <label class="navbar-brand addOn__v1" ></label>
        </div>

        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<div class="row text-center">
    <div class="col-md-12 padding-top-2rem">
        <img src="assets/images/ASNB-tick.png" class="ticklogo " alt="ASNB">
    </div>
</div>

<div class="row text-center padding-top-5rem" >
    <!-- <h2 class="h2-ic" id="ST_Title1">Transaksi anda telah berjaya.</h2> -->
    <h2 class="h2-ic" id="ST_Title1">{{'TS_1' | translate }}</h2>
</div>

<footer class="site-footer">
    <div class="row text-center" style="padding-top:5rem;">
        <div class="col-md-12">
            <button type="button" class="btn btn-cancel" id="ST_EndTransaction" (click)="endTransaction()">
                <!-- Tamatkan Transaksi -->
                {{'BTN_End' | translate }}
            </button>
            <button type="button" class="btn btn-next" id="ST_MainMenu" (click)="mainMenu()">
                <!-- Menu Utama -->
                {{'BTN_MainMenu' | translate}}
            </button>
        </div>
        
    </div>
</footer>