<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
       
        <div class="titleNLogo">
            <!-- Read MyKad NavBar -->
            <img src="assets/images/MyKad-small-blue.png" alt="MyKadImage">
            <label class="outofserviceStyle" id="SectionTitle">{{ 'Verify_MyKad_Header_Title' | translate }}</label>
        </div>

        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>



<div class="bg-popup" id="BR_ErrorPop" *ngIf="VMKADError_Visible" >
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">


        <!-- <h1 id="BR_ResponseCode" class="padding-top-2rem">Mesej Ralat</h1> -->
        <h1 id="BR_ResponseCode" class="padding-top-2rem">{{'BRError_1' | translate }}</h1>

        <!-- <h2 id="BR_ErrorMessage" class="h2-ic" style="padding-top:8rem; padding-left: 8rem; padding-right: 8rem">
            Kad tidak dapat dikesan atau kad yang digunakan tiday sah.
            Sila pastikan anda menggunakan MyKid yang sah
            sebelum meneruskan transaksi.
        </h2> -->

        <h2 id="BR_ErrorMessage" class="h2-ic" style="padding-top:8rem; padding-left: 8rem; padding-right: 8rem">
            {{'ES_1' | translate }}
        </h2>


        <footer class="site-footer" style="padding-top:10rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="BR_MainMenu" (click)="VMKADErrorTryAgain()">
                        <!-- Cuba Lagi -->
                        {{'BTN_Next' | translate }}
                    </button>

                </div>

            </div>
        </footer>

    </div>
</div>

<div class="bg-popup" id="RM_Error" *ngIf="RMError1_Visible">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        

        <!-- <h1 id="RM_ResponseCode" class="padding-top-2rem">Mesej Ralat</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">( Mesej Ralat )</h2>
 -->

        <h1 id="RM_ResponseCode" class="padding-top-2rem">{{'RMError1_1' | translate }}</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">{{'RMError1_2' | translate }}</h2>

        <footer class="site-footer" style="padding-top:15rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-cancel" id="RM_Cancel" (click)="endTransaction()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_End' | translate }}
                    </button>
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="tryAgain()">
                        <!-- Cuba Lagi -->
                        {{'BTN_TryAgain' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 


<div class="bg-popup" id="RM_Error1" *ngIf="RMError2_Visible">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        

        <!-- <h1 id="RM2_ResponseCode" class="padding-top-2rem">Mesej Ralat</h1>

        <h2 id="RM2_ErrorMessage" class="h2-ic" style="padding-top:10rem;">( Mesej Ralat )</h2> -->

        <h1 id="RM2_ResponseCode" class="padding-top-2rem">{{'RMError2_1' | translate }}</h1>

        <h2 id="RM2_ErrorMessage" class="h2-ic" style="padding-top:10rem;">{{'RMError2_2' | translate }}</h2>

        <footer class="site-footer" style="padding-top:10rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-cancel" id="RM2_Cancel" (click)="endTransaction()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_End' | translate }}
                    </button>
                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup" id="RM_Error" *ngIf="FingerPrintTimeout">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        

        <!-- <h1 id="RM_ResponseCode" class="padding-top-2rem">Mesej Ralat</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">( Mesej Ralat )</h2>
 -->

        <h1 id="RM_ResponseCode" class="padding-top-2rem">{{'RMError1_1' | translate }}</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">{{'RMError5_1' | translate }}</h2>
        <h2 class="h2-ic" *ngIf="lostcount1">{{'RMError5_2' | translate }}</h2>

        <footer class="site-footer" style="padding-top:10rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-cancel" id="RM_Cancel" (click)="endTransaction()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_End' | translate }}
                    </button>
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="tryAgain()" *ngIf="lostcount">
                        <!-- Cuba Lagi -->
                        {{'BTN_TryAgain' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup" id="RM_Error" *ngIf="InvalidCardVisible">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        

        <!-- <h1 id="RM_ResponseCode" class="padding-top-2rem">Mesej Ralat</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">( Mesej Ralat )</h2>
 -->

        <h1 id="RM_ResponseCode" class="padding-top-2rem">{{'RMError1_1' | translate }}</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">{{'InvalidCardMessage' | translate }}</h2>

        <footer class="site-footer" style="padding-top:12rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-cancel" id="RM_Cancel" (click)="endTransaction()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_End' | translate }}
                    </button>
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="tryAgainCard()">
                        <!-- Cuba Lagi -->
                        {{'BTN_TryAgain' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div>


<div class="bg-popup" id="RM_Error" *ngIf="InvalidCardVisibleFinal">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        

        <!-- <h1 id="RM_ResponseCode" class="padding-top-2rem">Mesej Ralat</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">( Mesej Ralat )</h2>
 -->

        <h1 id="RM_ResponseCode" class="padding-top-2rem">{{'RMError1_1' | translate }}</h1>

        <h2 id="RM_ErrorMessage" class="h2-ic" style="padding-top:10rem;">{{'InvalidCardMessage' | translate }}</h2>

        <footer class="site-footer" style="padding-top:12rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-cancel" id="RM_Cancel" (click)="endTransaction()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_End' | translate }}
                    </button>
                </div>
                
            </div>
        </footer>
        
    </div>
</div>


<div class="bg-popup" id="RM_Error2" *ngIf="RMError5_Visible">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        

        <h1 id="RM2_ResponseCode" class="padding-top-2rem">{{'RMError2_1' | translate }}</h1>

        <h2 id="RM2_ErrorMessage" class="h2-ic" style="padding-top:10rem;">{{'RMErrorK_2' | translate }}</h2>

        <footer class="site-footer" style="padding-top:15rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM2_Cancel" (click)="okay()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_Next' | translate }}
                    </button>
                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup" id="RM_Error1" *ngIf="RMError3_Visible">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        


        <h2 id="RM2_ResponseCode" class="padding-top-2rem" style="color:rgb(255,0,0);">{{'RMError3_1' | translate }}</h2>
        <h2 id="RM2_ResponseCode" class="padding-top-2rem">{{'RMError3_2' | translate }}</h2>
        <div class="row text-center padding-top-2rem" >
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="RM2_Cancel" (click)="registerAccount()">
                    <!-- Tamatkan Transaksi -->
                    {{'BTN_Enrol' | translate }}
                </button>
            </div>
            
        </div>

        <h2 id="RM2_ResponseCode" class="padding-top-5rem">{{'RMError3_3' | translate }}</h2>


        <!-- <h2 id="RM2_ErrorMessage" class="h2-ic" style="padding-top:10rem;">( {{'RMError2_2' | translate }} )</h2> -->

        <footer class="site-footer" style="padding-top:2rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-cancel" id="RM2_Cancel" (click)="endTransaction()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_End' | translate }}
                    </button>
                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup" id="RM_Error1" *ngIf="RMError4_Visible">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">
        



        <h2 id="RM2_ErrorMessage" class="h2-ic" style="padding-top:15rem;">{{'RMError4_1' | translate }}</h2>

        <footer class="site-footer" style="padding-top:15rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-cancel" id="RM_Cancel" (click)="endTransaction()">
                        <!-- Tamatkan Transaksi -->
                        {{'BTN_End' | translate }}
                    </button>
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="nextToUpdate()">
                        <!-- Cuba Lagi -->
                        {{'BTN_Next' | translate }}
                    </button>
                </div>
            </div>
        </footer>
        
    </div>
</div> 

<!-- IC Reader Screen 1 -->
<div *ngIf="insertMykadVisible" class="row content-container" id="ICReaderScreen1">
    <div class="col-md-12 text-center" *ngIf="ishardcodeic">
        <input type="text" #icnumber>
    </div>
    <div class="col-md-6 text-center" style="padding-top:13rem">

        <h3 id="BR_Welcome">{{'InsertMyKad_1' | translate }}</h3>
        &nbsp;
        <h3 class="h2-ic" id="BR2_Title1">{{'InsertMyKad_2' | translate }}</h3>
        <h3 class="h2-ic" id="BR2_Title2">{{'InsertMyKad_3' | translate }}</h3>
        &nbsp;
        <button type="button" class="btn btn-next" id="CheckICButton" (click)="verify()" style="margin-top: 2rem;">
            <!-- Sahkan MyKad -->
            {{'BTN_Next' | translate }}
        </button>
    </div>
    <div class="col-md-6 text-center" >
        <img src="assets/images/InsertMyKad.gif" class="ICReader__centered img-addon padding-top-5rem" alt="ICReaderImage">
    </div>
</div>

<!-- IC Reader Screen 2 -->
<div *ngIf="readThumbprintVisible" class="row content-container" id="ICReaderScreen2">
    <div class="col-md-6 text-center" style="padding-top:20rem">
        <!-- <h2 class="h2-ic" id="ICR2_Title1">Sila letak ibu jari di atas</h2>
        <h2 class="h2-ic" id="ICR2_Title2">pembaca cap jari</h2> -->
        <h2 class="h2-ic" id="ICR2_Title1">{{'ReadThumbprint_1' | translate }}</h2>
        <h2 class="h2-ic" id="ICR2_Title2">{{'ReadThumbprint_2' | translate }}</h2>
    </div>
    <div class="col-md-6 text-center" >
        <img src="assets/images/Thumprint.gif" class="ICReader__centered img-addon padding-top-10rem" alt="ThumbPrintImage" >
    </div>
</div>

<!-- IC Reader Screen 3 -->
<div *ngIf="loadingVisible" class="row content-container" id="ICReaderScreen3">
    <div class="col-md-6 text-center" style="padding-top:20rem">
        <!-- <h2 class="h2-ic" id="ICR3_Title1">Maklumat MyKad sedang dibaca</h2> -->
        <h2 class="h2-ic" id="BR3_Title1">{{'Loading_1' | translate }}</h2>
        <div class="spinner-border text-primary spinning-addon" role="status"> </div>

    </div>
    <div class="col-md-6 text-center" >
        <img src="assets/images/asnb-readingmykad.png" class="ICReader__centered img-addon padding-top-10rem" alt="ReadingMyKadImage" >
    </div>
</div>