<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        <div class="titleNLogo">
            <!-- Language Screen NavBar -->
            <img src="assets/images/PelaburanTambahanAkaunSendiri-small-blue.png" alt="HeaderImage" class="icon_margin" *ngIf="isSubscriptionMajor">
            <img src="assets/images/PelaburanTambahanAkaunBijak-small-blue.png" alt="HeaderImage" class="icon_margin" *ngIf="isSubscriptionMinor">
            <img src="assets/images/PelaburanTambahanKeAkaunPihakKetiga-small-blue.png" alt="HeaderImage" class="icon_margin" *ngIf="isSubscriptionThird">
            <img src="assets/images/PelaburanPermulaanAkaunSendiri-small-blue.png" alt="HeaderImage" class="icon_margin" *ngIf="isInvestmentMajor">
            <img src="assets/images/PelaburanPermulaanAkaunBijak-small-blue.png" alt="HeaderImage" class="icon_margin" *ngIf="isInvestmentMinor">
            <div>
                <label class="upStyle col-sm-12" *ngIf="isSubscription">{{ 'Subscription' | translate }}</label>
                <label class="upStyle col-sm-12" *ngIf="isInvestment">{{ 'Investment' | translate }}</label>
                <!-- <label class="downStyle col-sm-12" *ngIf="isOwn">{{ 'Own' | translate }}</label> -->
                <!-- <label class="downStyle col-sm-12" *ngIf="isBijak">{{ 'Bijak' | translate }}</label> -->
                <!-- <label class="downStyle col-sm-12" *ngIf="isThird">{{ 'Third' | translate }}</label> -->
            </div>
        </div>

        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<div class="bg-popup"  *ngIf="TermsAndConditions">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">

        <ngx-extended-pdf-viewer 
            [src]="pdfsrc1" 
            backgroundColor="#ffffff" 
            [delayFirstView]="1000" 
            [height]="'530px'"
            [useBrowserLocale]="true"
            [showPrintButton]="false"
            [showBookmarkButton]="false"
            [showDownloadButton]="false"
            [showFindButton]="false"
            [showHandToolButton]="false"
            [showOpenFileButton]="false"
            [showPresentationModeButton]="false"
            [showRotateButton]="false"
            [showPropertiesButton]="false"
            [zoom]="'100%'">
        </ngx-extended-pdf-viewer>

        <footer class="site-footer" style="padding-top:1rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="NextTNC()">
                        {{'BTN_Next' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup"  *ngIf="InvestmentDisclaimer">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">

        <ngx-extended-pdf-viewer 
            [src]="pdfsrc2" 
            backgroundColor="#ffffff" 
            [delayFirstView]="1000" 
            [height]="'530px'"
            [useBrowserLocale]="true"
            [showPrintButton]="false"
            [showBookmarkButton]="false"
            [showDownloadButton]="false"
            [showFindButton]="false"
            [showHandToolButton]="false"
            [showOpenFileButton]="false"
            [showPresentationModeButton]="false"
            [showRotateButton]="false"
            [showPropertiesButton]="false"
            [zoom]="'100%'">
        </ngx-extended-pdf-viewer>

        <footer class="site-footer" style="padding-top:1rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="NextID()">
                        {{'BTN_Next' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div class="bg-popup"  *ngIf="MinimumCriteria">
    <div class="col-md-12 pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center">

        <ngx-extended-pdf-viewer 
            [src]="pdfsrc3" 
            backgroundColor="#ffffff" 
            [delayFirstView]="1000" 
            [height]="'530px'"
            [useBrowserLocale]="true"
            [showPrintButton]="false"
            [showBookmarkButton]="false"
            [showDownloadButton]="false"
            [showFindButton]="false"
            [showHandToolButton]="false"
            [showOpenFileButton]="false"
            [showPresentationModeButton]="false"
            [showRotateButton]="false"
            [showPropertiesButton]="false"
            [zoom]="'100%'">
        </ngx-extended-pdf-viewer>

        <footer class="site-footer" style="padding-top:1rem;">
            <div class="row text-center" >
                <div class="col-md-12">
                    <button type="button" class="btn btn-next" id="RM_MainMenu" (click)="NextMC()">
                        {{'BTN_Next' | translate }}
                    </button>

                </div>
                
            </div>
        </footer>
        
    </div>
</div> 

<div *ngIf="BijakVisible" class="content-container">
   
    <div>
        <div class="col-md-12 text-center" style="padding-top:2rem; padding-bottom:2rem; font-family: HelveticaNeue;">
            <h2 id="CB1_Title3">{{'CB1_1' | translate }}</h2>
        </div>

        <div class="col-md-12 text-center" style="padding-top:0.15rem;" *ngFor="let minor of mDetails">
            <button type="button" class="btn btn-account" id="Account2" (click)="Minor(minor)">
                {{ minor.UHID }}<br>{{ minor.NAME }}
            </button>
        </div>
    </div>

    

  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem;padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="Back()">
                    {{'BTN_Back' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="SIStep1" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'SelectUnitTrust' | translate}}
        </h2>
    </div>

    <div class="text-center" style="padding-top:1rem"  *ngIf="variableFunds.length > 0">
        <h2 class="h2-ic">
            {{'VariablePrice' | translate}}
        </h2>
    </div>

    <div class="pop-up-variable text-center" *ngIf="variableFunds.length > 0">
        <div class="horizontal" *ngIf="isloadedfunds">
            <div *ngFor="let fund1 of variableFunds"  class="center">
                <img src="assets/fundicon/{{fund1}}.png" class="fundidicon" style="padding-top: 0.25rem;" (click)="selectedFund(fund1)">
            </div>
        </div>
    </div>

    <div class="text-center" *ngIf="fixedFunds.length > 0">
        <h2 class="h2-ic">
            {{'FixedPrice' | translate}}
        </h2>
    </div>

    <div class="pop-up-fixed text-center" *ngIf="fixedFunds.length > 0">
        <div class="horizontal" *ngIf="isloadedfunds">
            <div *ngFor="let fund2 of fixedFunds"  class="center">
                <img src="assets/fundicon/{{fund2}}.png" class="fundidicon" style="padding-top: 0.25rem;" alt="{{fund2}}" (click)="selectedFund(fund2)"> 
            </div>
        </div>
    </div>
  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem; padding-bottom:5rem;">
            <div class="col-md-12" style="margin-left: auto; margin-right: auto;">
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="SIStep1Back()">
                    {{'BTN_Back' | translate }}
                </button>
            </div>
        </div>
    </footer>
    

</div>

<div *ngIf="SIStep2" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'AddInvestment' | translate}}
        </h2>
    </div>

   
    <div class="col-md-12 content-container">
        <div class="pop-up-addinvestment">
            <div class="row" style="padding-top:2rem;">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'ARSuccess_3' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <h3>
                        : {{unitholdername}}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'ARSuccess_5' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <h3>
                        : {{unitholderid}}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'FundName' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <h3>
                        : {{fundname}}
                    </h3>
                </div>
            </div>
            <div class="row" style="padding-bottom:2rem;">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3 style="font-size: 1.45rem;">
                        {{'AmountInclusiveSST1' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <input type="text" style="width: 85%;" name="amount" id="amt" class="use-keyboard-input" [formControl]='Form_1.controls["amount"]' #amount>
                    <div style="color: rgba(255,0,0); font-style: italic" *ngIf="amountWarning">{{'AWarning' | translate}}</div>
                    <div style="color: rgba(255,0,0); font-style: italic" *ngIf="amountWarning1">{{'A1Warning' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="col-md-12 content-container" style="margin-left: auto; margin-right: auto; padding-top: 2rem;">
        <div style="width: 1200px; margin-left: auto; margin-right: auto;">
            <p>1. {{'SIStep2_1' | translate}}</p>
            <p>2. {{'SIStep2_2' | translate}}</p>
            <p>3. {{'SIStep2_3' | translate}}</p>
            <p>4. {{'SIStep2_4' | translate}}</p>
        </div>
    </div>

    <div class="row text-center content-container" style="padding-top: 1rem;">
        <div class="col-md-12">
            <input type="checkbox" class="agreeCheck" name="tncCheck" value="false" (click)="agreeTNC($event)">
            <label for="tncCheck" style="padding-left:1rem; font-size: 0.75rem;">
                {{'SIStep2_5' | translate }}
                <a class="hyperlinksent" (click)="ClickTNC()"> {{'PRTNC_1' | translate }}</a>, 
                <a class="hyperlinksent" (click)="ClickInvesmtentDisclaimer()"> {{'InvestmentDisclaimer' | translate }}</a>,
                <a class="hyperlinksent" (click)="ClickMinimumCriteria()"> {{'MinimumCriteria' | translate }}</a>
                {{'SIStep2_6' | translate }}
            </label><br>
        </div>
    </div>
  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:3rem; padding-bottom:3rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-cancel-white" id="CB1_Cancel" (click)="SIStep2Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="SIStep2Next()" [disabled]="disagreedTNC" [hidden]="ispopup">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="SIStep3" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'AdditionalInformation' | translate}}
        </h2>
    </div>

   

    <div class="pop-up-addinformation">
        <div class="containSOF" style="padding-top:2rem; padding-bottom: 2rem;">
            <div class="row" *ngIf="showSOF">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'SourceOfFund' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <select name="" (change)="sourceOnChange($event, false)" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_2.controls["sourceoffund"]'  #source>
                        <option value="">{{ 'optionSelect' | translate }}</option>
                        <option *ngFor="let fs of fundSource" value={{fs.code}}>
                            {{fs.desc}}
                        </option>
                    </select>
                    <div style="color: rgba(255,0,0); font-style: italic" *ngIf="sourceFundWarning">{{'SourceOfFundWarning' | translate}}</div>
                </div>
            </div>
            <div class="row" [hidden]="showOtherSource">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'OtherSource' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <input type="text" style="width: 85%;" name="source" id="source" class="use-keyboard-input" [formControl]='Form_2.controls["othersource"]'  #othersource>
                    <div style="color: rgba(255,0,0); font-style: italic" *ngIf="otherWarning">{{'OthWarning' | translate}}</div>
                </div>
            </div>
            <div class="row" *ngIf="showFunderName">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'FunderName' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <input type="text" style="width: 85%;" name="source" id="source" class="use-keyboard-input" [formControl]='Form_2.controls["fundername"]'  #fundername>
                    <div style="color: rgba(255,0,0); font-style: italic" *ngIf="funderWarning">{{'FWarning' | translate}}</div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="h2-ic text-center" style="padding-top: 2rem">
        {{'AdditionalInformationSOF' | translate}}
    </h4>
    
  
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:21.27rem; padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-cancel-white" id="CB1_Cancel" (click)="SIStep3Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="SIStep3Next()" [disabled]="disagreedTNC">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="SIStep4" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'AddInvestment' | translate}}
        </h2>
    </div>

   

    <div class="pop-up-addinvestment">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>
                    {{'ARSuccess_3' | translate}}
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    : {{unitholdername}}
                </h3>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>
                    {{'ARSuccess_5' | translate}}
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    : {{unitholderid}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>
                    {{'FundName' | translate}}
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    : {{fundname}}
                </h3>
            </div>
        </div>
        <div class="row" style="padding-bottom:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3 style="font-size: 1.45rem;">
                    {{'AmountInclusiveSST1' | translate}}
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    : {{amountKeyed | number : '1.2-2' }}
                </h3>
            </div>
        </div>
    </div>


    <footer class="site-footer">
        <div class="row text-center" style="padding-top:17.47rem; padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-cancel-white" id="CB1_Cancel" (click)="SIStep4Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="SIStep4Next()" [disabled]="isClicked">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="STPStep1" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'ThirdPartyDetails' | translate}}
        </h2>
    </div>

   

    <!-- <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ICType1' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_3.controls["ictype"]' [hidden]="ispopup" #thirdictype>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let type of ictype" value={{type.code}}>
                        {{type.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdictypeWarning">{{'ThirdICTypeWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1.75rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="thirdicno" id="thirdicno" class="use-keyboard-input" [formControl]='Form_3.controls["icno"]' #thirdicno>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdicnoWarning">{{'ThirdICWarning' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="sameUH">{{'sameUH' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="uhNotExist">{{'uhNotExist' | translate}}</div>
            </div>
        </div>



        <div class="row" *ngIf="isGetInfo">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_6_1' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="thirduhid" id="thirduhid" class="use-keyboard-input" [formControl]='Form_3.controls["uhid"]' #thirduhid>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirduhidWarning">{{'ThirdUHIDWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" *ngIf="isGetInfo">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_2_1' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="thirdname" id="thirdname" class="use-keyboard-input" [formControl]='Form_3.controls["name"]' #thirdname>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdnameWarning">{{'ThirdNameWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" *ngIf="isGetInfo">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ReasonForTransfer' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_3.controls["reason"]' #thirdreason>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let rea of reason" value={{rea.code}}>
                        {{rea.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdreasonWarning">{{'ThirdReasonWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" *ngIf="isGetInfo">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FLB_9' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_3.controls["relationship"]' #thirdrelationship>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let re of relationship" value={{re.code}}>
                        {{re.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdrelationshipWarning">{{'ThirdRelationshipWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" *ngIf="isGetInfo">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" (change)="fundOnChange($event)" [formControl]='Form_3.controls["fund"]' #thirdfundname>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let fund of fundnamelist" value={{fund.code}}>
                        {{fund.value}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdfundWarning">{{'ThirdFundWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1.75rem;" *ngIf="isGetInfo">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;">
                    {{'AmountInclusiveSST1' | translate}}
                </h4>
            </div>
            <div class="col-md-6" >
                <input type="text" style="width: 85%;" name="amount" id="amount" class="use-keyboard-input" [formControl]='Form_3.controls["amount"]' #thirdamount>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdamountWarning">{{'AWarning' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="amountWarning2">{{'A1Warning' | translate}}</div>
            </div>
        </div>
    </div> -->

    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ICType1' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_3.controls["ictype"]' [hidden]="ispopup" #thirdictype>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let type of ictype" value={{type.code}}>
                        {{type.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdictypeWarning">{{'ThirdICTypeWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1.75rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="thirdicno" id="thirdicno" class="use-keyboard-input" [formControl]='Form_3.controls["icno"]' #thirdicno>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdicnoWarning">{{'ThirdICWarning' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="sameUH">{{'sameUH' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="uhNotExist">{{'uhNotExist' | translate}}</div>
            </div>
        </div>



        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_6_1' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="thirduhid" id="thirduhid" class="use-keyboard-input" [formControl]='Form_3.controls["uhid"]' #thirduhid>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirduhidWarning">{{'ThirdUHIDWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_2_1' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <input type="text" style="width: 85%;" name="thirdname" id="thirdname" class="use-keyboard-input" [formControl]='Form_3.controls["name"]' #thirdname>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdnameWarning">{{'ThirdNameWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ReasonForTransfer' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_3.controls["reason"]' #thirdreason>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let rea of reason" value={{rea.code}}>
                        {{rea.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdreasonWarning">{{'ThirdReasonWarning' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FLB_9' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" [formControl]='Form_3.controls["relationship"]' #thirdrelationship>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let re of relationship" value={{re.code}}>
                        {{re.desc}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdrelationshipWarning">{{'ThirdRelationshipWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <select name="" id="Q1" style="width: 85%; height: 2rem;" (change)="fundOnChange($event)" [formControl]='Form_3.controls["fund"]' #thirdfundname>
                    <option value="">{{ 'optionSelect' | translate }}</option>
                    <option *ngFor="let fund of fundnamelist" value={{fund.code}}>
                        {{fund.value}}
                    </option>
                </select>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdfundWarning">{{'ThirdFundWarning' | translate}}</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1.75rem;" >
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;">
                    {{'AmountInclusiveSST1' | translate}}
                </h4>
            </div>
            <div class="col-md-6" >
                <input type="text" style="width: 85%;" name="amount" id="amount" class="use-keyboard-input" [formControl]='Form_3.controls["amount"]' #thirdamount>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="thirdamountWarning">{{'AWarning' | translate}}</div>
                <div style="color: rgba(255,0,0); font-style: italic" *ngIf="amountWarning2">{{'A1Warning' | translate}}</div>
            </div>
        </div>
    </div>


    <div style="display:grid; place-items: center; padding-top: 2rem;" class="content-container">
        <div style="width: 1200px">
            <p>1. {{'SIStep2_1' | translate}}</p>
            <p>2. {{'SIStep2_2' | translate}}</p>
            <p>3. {{'SIStep2_3' | translate}}</p>
            <p>4. {{'SIStep2_4' | translate}}</p>
        </div>
    </div>

    <div class="row text-center content-container" style="padding-top: 1rem;" >
        <!-- <div class="col-md-1">

        </div> -->
        <div class="col-md-12">
            <input type="checkbox" class="agreeCheck" name="tncCheck" value="false" (click)="agreeTNC($event)">
            <label for="tncCheck" style="padding-left:1rem; font-size: 0.75rem;">
                {{'SIStep2_5' | translate }}
                <a class="hyperlinksent" (click)="ClickTNC()"> {{'PRTNC_1' | translate }}</a>, 
                <a class="hyperlinksent" (click)="ClickInvesmtentDisclaimer()"> {{'InvestmentDisclaimer' | translate }}</a>,
                <a class="hyperlinksent" (click)="ClickMinimumCriteria()"> {{'MinimumCriteria' | translate }}</a>
                {{'SIStep2_6' | translate }}
            </label><br>
        </div>
        <!-- <div class="col-md-1">
            
        </div> -->
    </div>
  
    <footer class="site-footer"> 
        <div class="row text-center" style="padding-top:3rem; padding-bottom: 3rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-cancel-white" id="CB1_Cancel" (click)="STPStep1Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="STPStep1Next()" [disabled]="disagreedTNC">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="STPStep2" class="content-container">
   
    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'AdditionalInformation' | translate}}
        </h2>
    </div>

   

    <div class="pop-up-thirdaddinformation">
        <div class="sofcontainer"  style="padding-top:2rem; padding-bottom: 2rem;">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'SourceOfFund' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <select name="" id="Q1" (change)="sourceOnChange($event, true)" style="width: 85%; height: 2rem;" [formControl]='Form_4.controls["sourceoffund"]' #thirdsource>
                        <option value="">{{ 'optionSelect' | translate }}</option>
                        <option *ngFor="let fs of fundSource" value={{fs.code}}>
                            {{fs.desc}}
                        </option>
                    </select>
                    <div style="color: rgba(255,0,0); font-style: italic" *ngIf="sourceFundWarning">{{'SourceOfFundWarning' | translate}}</div>
                </div>
            </div>
            <div class="row" [hidden]="showOtherSource">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>
                        {{'OtherSource' | translate}}
                    </h3>
                </div>
                <div class="col-md-6">
                    <input type="text" style="width: 85%;" name="source" id="source" class="use-keyboard-input" [formControl]='Form_4.controls["othersource"]'  #othersource>
                    <div style="color: rgba(255,0,0); font-style: italic" *ngIf="otherWarning">{{'OthWarning' | translate}}</div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="h2-ic text-center content-container" style="padding-top: 2rem;">
        {{'AdditionalInformationSOF' | translate}}
    </h4>

    <footer class="site-footer">
        <div class="row text-center" style="padding-top:19.27rem; padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-cancel-white" id="CB1_Cancel" (click)="STPStep2Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="STPStep2Next()" [disabled]="disagreedTNC">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="STPStep3" class="content-container">

    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'ThirdPartyDetails' | translate}}
        </h2>
    </div>


    <div class="pop-up-third">
        <div class="row" style="padding-top:2rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ICType' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    {{displayICType}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_4' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    {{thirdicnokeyed}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_6' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    {{thirduhidkeyed}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'CB2_2' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    {{thirdnamekeyed}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'ReasonForTransfer' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    {{displayReason}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FLB_9' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    {{displayRelationship}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>
                    {{'FundName' | translate}}
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    {{displayFundname}}
                </h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1.75rem;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4 style="font-size: 1.25rem;">
                    {{'AmountInclusiveSST1' | translate}}
                </h4>
            </div>
            <div class="col-md-6" >
                <h4>
                    {{thirdamountkeyed | number : '1.2-2' }}
                </h4>
            </div>
        </div>
    </div>


    <footer class="site-footer"> 
        <div class="row text-center" style="padding-top:4.4rem; padding-bottom:5rem;">
            <div class="col-md-12">
                <button type="button" class="btn btn-cancel-white" id="CB1_Cancel" (click)="STPStep3Back()">
                    {{'BTN_Back' | translate }}
                </button>
                <button type="button" class="btn btn-next" id="CB1_Cancel" (click)="STPStep3Next()" [disabled]="isClicked">
                    {{'BTN_Next' | translate }}
                </button>
            </div>
            
        </div>
    </footer>
    

</div>

<div *ngIf="SIStep5" class="row content-container">
    <div class="col-md-6 text-center" style="padding-top:15rem" *ngIf="paymentStep1">
        <h3 class="h2-ic" id="BR2_Title1">{{'EnterCardAndPin1' | translate }}</h3>
        <h3 class="h2-ic" id="BR2_Title1">{{'EnterCardAndPin2' | translate }}</h3>
        &nbsp;
        <div class="text-center">
            <button type="button" class="btn btn-cancel-white" style="width: 225px;" (click)="SIStep5Cancel()">
                {{'BTN_Back' | translate }}
            </button>
            <button type="button" class="btn btn-cancel" style="width: 225px;" (click)="SIStep5End()">
                {{'BTN_End' | translate }}
            </button>
        </div>
        
    </div>

    <div class="col-md-6 text-center" style="padding-top:15rem" *ngIf="paymentStep3">
        <h3 class="h2-ic" id="BR2_Title1">{{'EnterCardAndPin1' | translate }}</h3>
        <h3 class="h2-ic" id="BR2_Title1">{{'EnterCardAndPin2' | translate }}</h3>
        &nbsp;
        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
    </div>
    <div class="col-md-6 text-center" style="padding-top:3rem" *ngIf="paymentStep3 || paymentStep1">
        <img src="assets/images/InsertDebitCard.gif" class="ICReader__centered img-addon padding-top-5rem" alt="ICReaderImage">
    </div>

    <div class="col-md-6 text-center" style="padding-top:15rem" *ngIf="paymentStep4">
        <h3 class="h2-ic" id="BR2_Title1">{{'RemoveDebitCard' | translate }}</h3>
    </div>
    <div class="col-md-6 text-center" style="padding-top:3rem" *ngIf="paymentStep4">
        <img src="assets/images/RemoveDebitCard.gif" class="ICReader__centered img-addon padding-top-5rem" alt="ICReaderImage">
    </div>
</div>

<div *ngIf="SIStep6" class="content-container">

    <div class="text-center" style="padding-top:3rem">
        <h2>
            {{'AcknowledgementStatus' | translate}}
        </h2>
    </div>

    <div class="col-md-12 content-container">
        <div class="pop-up-status">
            <div class="row" style="padding-top:1rem;">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'CB2_2' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{unitholdername}}
                    </h5>
                </div>
            </div>
            <!-- isThird -->
            <div class="row" *ngIf="isThird">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'ICType' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{displayICType}}
                    </h5>
                </div>
            </div>
            <div class="row" *ngIf="isThird">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'CB2_4' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{thirdicnokeyed}}
                    </h5>
                </div>
            </div>
            <div class="row" *ngIf="isThird">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'CB2_6' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{thirduhidkeyed}}
                    </h5>
                </div>
            </div>
            <div class="row" *ngIf="isThird">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'ReasonForTransfer' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{displayReason}}
                    </h5>
                </div>
            </div>
            <div class="row" *ngIf="isThird">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'FLB_9' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{displayRelationship}}
                    </h5>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'RefNo' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{refno}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'Status' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{status}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'ApprovalCode' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{approvalcode}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'AccountTypeCP' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{accounttype}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'AmountInclusiveSST1' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{amountKeyed == 0 ? (thirdamountkeyed  | number : '1.2-2') : (amountKeyed | number : '1.2-2')}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'FundName' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{fundname}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'NAV' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{nav == 0 ? "" : (nav | number : '1.4-4')}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'SST' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{sst == 0 ? (nav == 0 ? "" : (sst | number : '1.2-2')) : (sst | number : '1.2-2')}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'UnitsAlloted' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{unitsalloted == 0 ? (nav == 0 ? "" : (unitsalloted | number : '1.2-2')) : (unitsalloted | number : '1.2-2' )}}
                    </h5>
                </div>
            </div>
            <div class="row" style="padding-bottom: 1.5rem;">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h5>
                        {{'InitialSalesCharge' | translate}}
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        : {{initialcharges == 0 ? (nav == 0 ? "" : (initialcharges | number : '1.2-2')) : (initialcharges | number : '1.2-2')}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    


    <div class="row text-center content-container" style="padding-top: 1rem; ">
        <div class="col-md-1">

        </div>
        <div class="col-md-10 text-center">
            <label for="tncCheck" style="padding-left:1rem; font-size: 1.5rem;" *ngIf="isHistorical">
                {{'SIStep6_1' | translate }}
            </label>
            <label for="tncCheck" style="padding-left:1rem; font-size: 1.5rem;" *ngIf="!isHistorical">
                {{'SIStep6_2' | translate }}
            </label>
        </div>
        <div class="col-md-1">
            
        </div>
    </div>

    <footer class="site-footer">
        <div class="row text-center" style="padding-top:2rem; padding-bottom:5rem;">
            <div class="cont1" style="margin-left: auto; margin-right: auto;">
                <div class="row" *ngIf="Print_Visible && Email_Visible">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="Print()">
                            {{'BTN_Print' | translate }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="Email()">
                            {{'BTN_Email' | translate }}
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="Print_Visible && !Email_Visible">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="Print()">
                            {{'BTN_Print' | translate }}
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="!Print_Visible && Email_Visible">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-next" id="UD_MainMenu"  (click)="Email()">
                            {{'BTN_Email' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    

</div>

<div *ngIf="Print1_Visible" class="content-container">
    <div class="row content-container">
        <div class="col-md-6 text-center" style="padding-top:20rem;">
            <h2 class="h2-ic" id="ARP1_Title1">{{'Print1_1' | translate }}</h2>
            <h2 class="h2-ic" id="ARP1_Title2">{{'Print1_2' | translate }}</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnbstandee-receipt-a.png" class="ICReader__centered img-addon-1 padding-top-2rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>

<div *ngIf="Print2_Visible" class="content-container">
    <div class="row content-container">
        <div class="col-md-6 text-center" style="padding-top:20rem ">
            <h2 class="h2-ic" id="ARP2_Title1">{{'Print2_1' | translate }}</h2>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnbstandee-receipt-b.png" class="ICReader__centered img-addon-1 padding-top-2rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>

<div *ngIf="EmailPage_Visible" class="content-container">
    <div class="row content-container">
        <div class="col-md-6 text-center" style="padding-top:20rem ">
            <h2 class="h2-ic" id="ARE_Title1">{{'Email_1' | translate }}</h2>
            <h2 class="h2-ic" id="ARE_Title2">{{'Email_2' | translate }}</h2>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/asnb-mobile-emel.png" class="ICReader__centered img-addon padding-top-10rem" alt="ThumbPrintImage">
        </div>
    </div>
</div>

<div class="content-container" *ngIf="transaction_Successful">
    <div class="row text-center content-container">
        <div class="col-md-12 padding-top-2rem">
            <img src="assets/images/ASNB-tick.png" class="ticklogo " alt="ASNB">
        </div>
    </div>
    
    <div class="row text-center padding-top-5rem content-container" >
        <h2 class="h2-ic" id="ST_Title1">{{'TS_1' | translate }}</h2>
    </div>
    
    <footer class="site-footer">
        <div class="row text-center" style="padding-top:5rem;">
            <div class="cont1" style="margin-left: auto; margin-right: auto;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-cancel" id="ST_EndTransaction" (click)="endTransaction()">
                            {{'BTN_End' | translate }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-next" id="ST_MainMenu" (click)="mainMenu()">
                            {{'BTN_MainMenu' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


