<nav class="navbar navbar-expand-lg navbar-light-custom bg-white">
    <div class="container-fluid">
        <div class="titleNLogo">
            <!-- Language Screen NavBar -->
            <img src="assets/images/OutOfService-icon.png" alt="OutOfServiceImage" class="icon_margin">
            <div>
                <label class="upStyle col-sm-12">OUT OF SERVICE</label>
                <label class="downStyle col-sm-12">PERKHIDMATAN TERGENDALA</label>
            </div>
        </div>

        <form class="d-flex">
            <img src="assets/images/ASNBLogo.png" class="asnblogo" alt="ASNB">
        </form>
    </div>
</nav>

<div class="col-md-12 text-center content-container">
    <img src="assets/images/OutOfService-colouricon.png" alt="OutOfServiceColorImage" class="outofservice">

    <h1 id="OOS_ResponseCode1" class="padding-top-2rem">RESPONSE CODE : {{XXX1}}</h1>
    <h1 id="OOS_ResponseCode2" >KOD RESPON : {{XXX2}}</h1>
    
    <h2 id="OOS_ErrorMessage1" class="h2-ic padding-top-2rem">( {{EM1}} )</h2>
    <h2 id="OOS_ErrorMessage2" class="h2-ic">( {{MR1}} )</h2>
</div>